li{
    justify-content: space-between;
    border: 1px solid gray;
    border-radius: 10px;
    align-items: center;
}
.task-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 5px 0;
}

.task-box button {
  margin-left: 10px;
}
